*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    font-family: 'Roboto',sans-serif;
}

body{
    background-color: whitesmoke;
}

.heading{
    width: 90%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    text-align: center;
    margin: 20px auto;
}

.heading h1{
    font-size: 50px;
    color: #000;
    margin-bottom: 25px;
    position: relative;
}

.heading h1::after{
    content: "";
    position: absolute;
    width: 100%;
    height: 4px;
    display: block;
    margin: 0 auto;
    background-color: #4caf50;
}

.heading p{
    font-size: 18px;
    color:black;
    margin-bottom: 35px;


}
.container{
    width: 90%;
    margin: 0 auto;
    padding: 10px 20px;
}

.about{
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
}

.about-image{
    flex: 1;
    margin-right: 40px;
    overflow: hidden;
}

.about-image img{
    max-width: 100%;
    height: auto;
    display: block;
    transition: 0.5s ease;
}

.about-image:hover img{
    transform: scale(2.5);
    
}

.about-container{
    flex: 1;
}

.about-container h2{
    font-size: 23px;
    margin-bottom: 15px;
    color:black;
}

.about-container p{
    font-size: 18px;
    line-height: 2;
    color: black;
    font-size: 19px;

    text-decoration: none;
    border-radius: 25px;
    margin-top: 15px;
    transition: 0.3s ease ;

}

.about-container .read-more{
    display: inline-block;
    padding: 10px 20px;
    background-color: #4caf50;
    color: #fff;
    font-size: 19px;
    text-decoration: none;
    border-radius: 25px;
    margin-top: 15px;
    transition: 0.3s ease;
}

 .about-container .read-more:hover{
    background-color: #3e8e41;
 }    

       